@media only screen and (max-width: 1250px) {

    /* All tables */
    #content-wrap table,
    tbody,
    th,
    td,
    tr {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div.faqs {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5em;
    }

    .flip-card,
    .flip-card2,
    .flip-card3,
    .flip-card4 {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .about td p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .nav-bar .navi {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 15px;
        font-size: 20px;
    }

    div.form {
        padding-right: 2em;
        padding-left: 2em;
    }

    .form p {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        width: 100%;
    }

    button {
        width: 98%;
    }

    .about td p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
