/* Media Queries for Responsive Design */
@media only screen and (max-width: 1250px) {
    /* Adjustments for medium screens */
    #content-wrap table,
    tbody,
    th,
    td,
    tr {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div.faqs {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5em;
    }

    .flip-card, .flip-card2, .flip-card3, .flip-card4 {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .about td p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    /* Adjustments for small screens */
    .nav-bar .navi {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding: 0 10px;
        font-size: 20px;
    }

    div.form {
        padding: 0 2em;
    }

    .form p {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        width: 100%;
    }

    button {
        width: 98%;
    }

    .about td p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
